version: "3.8"

services:

  mongo:
    image: mongo
    container_name: ids_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: ids_backend
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/ids

  frontend:
    build: ./frontend
    container_name: ids_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  jenkins:
    image: jenkins/jenkins:lts
    container_name: ids_jenkins
    ports:
      - "8081:8080"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  mongo_data:
  jenkins_home: